{{ 'section-collapsible.css' | asset_url | stylesheet_tag }}

<section class="collapsible">
  <div class="container">
    {% render 'comp-heading', 
      text: section.settings.heading,
      size: section.settings.heading_size
    %}

    <div class="collapsible__wrapper collapsible__wrapper--{{ section.settings.layout }}">
      <div class="collapsible__row">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'collapsible_row' %}

              {% if forloop.first %}
                {% if section.settings.open_first_row %}
                  {% assign collapsibleRowClassName = "collapsible__row__box--first-show" %}
                {% endif %}
              {% else %}
                {% assign collapsibleRowClassName = "" %}
              {% endif %}

              <div class="collapsible__row__box {{ collapsibleRowClassName }}">
                {% if block.settings.heading %}
                  <div class="collapsible__row__box__title">
                    <h4>{{block.settings.heading}}</h4>
                    <div role="button">+</div>
                  </div>
                {% endif %}
                {% render 'comp-content', 
                  text: block.settings.content
                %}
              </div>
          {% endcase %}
        {% endfor %}
      </div>
  
      {% if section.settings.image!= blank %}
        <div class="collapsible__image collapsible__image--{{ section.settings.height }}">
          {% render 'comp-image', 
            image: section.settings.image,
            image_width: nil
          %}
        </div>
      {% endif %}
    </div>
    
  </div>
</section>

{% schema %}
  {
    "name": "t:sections.presets.collapsible_content.name",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "default": "Collapsible content",
        "label": "t:sections.global.text.heading.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "default": "medium",
        "label": "t:sections.global.size.heading.label",
        "options": [
          {
            "value": "small",
            "label": "t:sections.global.size.small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.global.size.medium.label"
          },
          {
            "value": "large",
            "label": "t:sections.global.size.large.label"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "open_first_row",
        "label": "t:sections.presets.collapsible_content.settings.open_first_row.label"
      },
      {
        "type": "header",
        "content": "t:sections.presets.collapsible_content.settings.image_layout.content"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.global.element.image.label"
      },
      {
        "type": "select",
        "id": "height",
        "default": "medium",
        "label": "t:sections.global.element.image.settings.height.label",
        "options": [
          {
            "value": "default",
            "label": "t:sections.global.size.default.label"
          },
          {
            "value": "medium",
            "label": "t:sections.global.size.medium.label"
          },
          {
            "value": "large",
            "label": "t:sections.global.size.large.label"
          }
        ]
      },
      {
        "type": "select",
        "id": "layout",
        "default": "image_second",
        "label": "t:sections.global.element.image.settings.layout.label",
        "options": [
          {
            "value": "image_first",
            "label": "t:sections.global.element.image.settings.layout.options.image_first.label"
          },
          {
            "value": "image_second",
            "label": "t:sections.global.element.image.settings.layout.options.image_second.label"
          }
        ]
      }
    ],
    "blocks": [
      {
        "type": "collapsible_row",
        "name": "t:sections.presets.collapsible_content.blocks.collapsible_row.name",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Heading",
            "label": "t:sections.global.text.heading.label"
          },
          {
            "type": "richtext",
            "id": "content",
            "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
            "label": "t:sections.global.text.content.label"
          }
        ] 
      }
    ],
    "presets": [
      {
        "name": "t:sections.presets.collapsible_content.blocks.collapsible_row.name",
        "blocks": [
          {
            "type": "collapsible_row"
          }
        ]
      }
    ]
  }
{% endschema %}