<section class="email-signup">
  <div class="container">
    
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'heading' %}
          {% if block.settings.text %}
            <h1 class="email-signup__title h1--{{block.settings.text_size}}" {{ block.shopify_attributes }}>{{ block.settings.text }}</h1>
          {% endif %}
        {% when 'content' %}
          {% if block.settings.text %}
            <div class="email-signup__subtitle" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
          {% endif %}
        {% when 'email_form' %}
          <form class="form" {{ block.shopify_attributes }}>
            <div class="form__input form__input--smaller">
              <input type="email" placeholder="Email" required>
              <button class="form__button">Send</button>
            </div>
          </form>
      {% endcase %}
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "t:sections.email_signup.name",
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.global.text.heading.label",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Shop Now",
            "label": "t:sections.global.text.name"
          },
          {
            "type": "select",
            "id": "text_size",
            "default": "medium",
            "label": "t:sections.global.size.text.label",
            "options": [
              {
                "value": "small",
                "label": "t:sections.global.size.small.label"
              },
              {
                "value": "medium",
                "label": "t:sections.global.size.medium.label"
              },
              {
                "value": "large",
                "label": "t:sections.global.size.large.label"
              }
            ]
          }
        ]
      },
      {
        "type": "content",
        "name": "t:sections.global.text.content.label",
        "limit": 1,
        "settings": [
          {
            "type": "richtext",
            "id": "text",
            "default": "<p>Only today! Get best deals by purchasing from our new collection</p>",
            "label": "t:sections.global.text.name"
          }
        ]
      },
      {
        "type": "email_form",
        "name": "t:sections.email_signup.blocks.email_form.name",
        "limit": 1
      }
    ],
    "presets": [
      {
        "name": "t:sections.email_signup.name",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "content"
          },
          {
            "type": "email_form"
          }
        ]
      }
    ]
  }
{% endschema %}