<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
/>

<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>

<script type='module' src="{{ 'vendor-swiper.js' | asset_url }}"></script>

<section class="slideshow">
  <div class="container">
    <div class="swiper slideshow__swiper">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'slide' %}

            <div class="swiper-slide">
              <div class="slideshow__swiper__card slideshow__swiper__card--{{ section.settings.height }}">
                <div class="slideshow__swiper__card__overlay" style="opacity: {{ block.settings.overlay_opacity }}%"></div>

                {% if block.settings.image != blank %}
                  {% render 'comp-image', 
                    image: block.settings.image,
                    image_width: nil
                  %}
                {% else %}
                  {{ 'lifestyle-2' | placeholder_svg_tag }}
                {% endif %}
                
                <div class="slideshow__swiper__card__content box--{{ block.settings.content_position }}-position">
                  

                  {% render 'comp-heading', 
                    text: block.settings.heading,
                    size: block.settings.heading_size
                    shopify_attributes: block.shopify_attributes
                  %}

                  {% render 'comp-content', 
                    text: block.settings.content,
                    shopify_attributes: block.shopify_attributes
                  %}

                  {% if block.settings.button_fill %}
                    {% assign bannerButtonClassName = "button button--black" %}
                  {% else %}
                    {% assign bannerButtonClassName = "button button--black-outline" %}
                  {% endif %}

                  {% render 'comp-button', 
                    label: block.settings.button_label,
                    link: block.settings.button_link,
                    className: bannerButtonClassName,
                    shopify_attributes: block.shopify_attributes
                  %}
                </div>
              </div>
            </div>

          {% endcase %}
        {% endfor %}
      </div>
    </div>
    
    <div class="slideshow__controls">
      <div class="slideshow__button-prev">{% render "icon-arrow" %}</div>

      <div class="slideshow__pagination"></div>

      <div class="slideshow__button-next">{% render "icon-arrow" %}</div>
    </div>
  </div>
</section>

<script>
  let slideshowPagination = {{ section.settings.pagination_style | json }}
  let slideshowAutoplay = {{ section.settings.enable_autoplay | json }}
  let slideshowAutoplayDelay = {{ section.settings.delay | json }}

  let custom
  let type
  if (slideshowPagination === "custom") {
    custom = function (index, className) {
      return '<span class="swiper-pagination-custom ' + className + '">' + (index + 1) + "</span>"
    }
    type = "bullets"
  } else { 
    custom = null 
    type = slideshowPagination
  }

  const swiper = new Swiper('.slideshow__swiper', {
    navigation: {
      nextEl: '.slideshow__button-next',
      prevEl: '.slideshow__button-prev',
    },
    pagination: {
      el: '.slideshow__pagination',
      type: type,
      clickable: true,
      renderBullet: custom
    },
    autoplay: slideshowAutoplay,
    delay: slideshowAutoplayDelay * 1000,
    loop: true
  })
</script>

{% schema %}
  {
    "name": "t:sections.presets.slideshow.name",
    "settings": [
      {
        "type": "select",
        "id": "height",
        "default": "default",
        "label": "t:sections.presets.slideshow.settings.slide_height.label",
        "options": [
          {
            "value": "default",
            "label": "t:sections.global.size.default.label"
          },
          {
            "value": "small",
            "label": "t:sections.global.size.small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.global.size.medium.label"
          },
          {
            "value": "large",
            "label": "t:sections.global.size.large.label"
          }
        ]
      },
      {
        "type": "select",
        "id": "pagination_style",
        "default": "bullets",
        "label": "t:sections.presets.slideshow.settings.pagination_style.label",
        "options": [
          {
            "value": "bullets",
            "label": "t:sections.presets.slideshow.settings.pagination_style.options.bullets.label"
          },
          {
            "value": "custom",
            "label": "t:sections.presets.slideshow.settings.pagination_style.options.custom.label"
          },
          {
            "value": "fraction",
            "label": "t:sections.presets.slideshow.settings.pagination_style.options.fraction.label"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.presets.slideshow.settings.autoplay.content"
      },
      {
        "type": "checkbox",
        "id": "enable_autoplay",
        "default": false,
        "label": "t:sections.presets.slideshow.settings.enable_autoplay.label"
      },
      {
        "type": "range",
        "id": "delay",
        "min": 3,
        "max": 10,
        "step": 1,
        "default": 5,
        "unit": "s",
        "label": "t:sections.presets.slideshow.settings.delay_between_transitions.label"
      }
    ],
    "blocks": [
      {
        "type": "slide",
        "name": "t:sections.presets.slideshow.blocks.slide.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.global.element.image.label"
          },
          {
            "type": "range",
            "id": "overlay_opacity",
            "min": 0,
            "max": 100,
            "step": 10,
            "default": 0,
            "unit": "%",
            "label": "t:sections.presets.image_banner.settings.overlay_opacity.label"
          },
          {
            "type": "header",
            "content": "t:sections.global.text.heading.label"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "t:sections.global.text.name"
          },
          {
            "type": "select",
            "id": "heading_size",
            "default": "medium",
            "label": "t:sections.global.size.heading.label",
            "options": [
              {
                "value": "small",
                "label": "t:sections.global.size.small.label"
              },
              {
                "value": "medium",
                "label": "t:sections.global.size.medium.label"
              },
              {
                "value": "large",
                "label": "t:sections.global.size.large.label"
              }
            ]
          },
          {
            "type": "header",
            "content": "t:sections.global.text.content.label"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "t:sections.global.text.name"
          },
          {
            "type": "header",
            "content": "t:sections.global.element.button.label"
          },
          {
            "type": "text",
            "id": "button_label",
            "default": "Get Deals",
            "label": "t:sections.global.element.button.settings.label.label"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "t:sections.global.element.button.settings.link.label"
          },
          {
            "type": "checkbox",
            "id": "button_fill",
            "label": "t:sections.global.element.button.settings.fill.label"
          },
          {
            "type": "header",
            "content": "t:sections.global.text.content.label"
          },
          {
            "type": "select",
            "id": "content_position",
            "default": "middle-center",
            "label": "t:sections.global.position.content.label",
            "options": [
              {
                "value": "top-left",
                "label": "t:sections.global.position.top_left.label"
              },
              {
                "value": "top-center",
                "label": "t:sections.global.position.top_center.label"
              },
              {
                "value": "top-right",
                "label": "t:sections.global.position.top_right.label"
              },
              {
                "value": "middle-left",
                "label": "t:sections.global.position.middle_left.label"
              },
              {
                "value": "middle-center",
                "label": "t:sections.global.position.middle_center.label"
              },
              {
                "value": "middle-right",
                "label": "t:sections.global.position.middle_right.label"
              },
              {
                "value": "bottom-left",
                "label": "t:sections.global.position.bottom_left.label"
              },
              {
                "value": "bottom-center",
                "label": "t:sections.global.position.bottom_center.label"
              },
              {
                "value": "bottom-right",
                "label": "t:sections.global.position.bottom_right.label"
              }
            ]
          },
          {
            "type": "select",
            "id": "content_alignment",
            "default": "center",
            "label": "t:sections.global.alignment.content.label",
            "options": [
              {
                "value": "left",
                "label": "t:sections.global.alignment.left.label"
              },
              {
                "value": "center",
                "label": "t:sections.global.alignment.center.label"
              },
              {
                "value": "right",
                "label": "t:sections.global.alignment.right.label"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.presets.slideshow.name"
      }
    ]
  }
{% endschema %}