<section class="multicolumn">
  <div class="container">
    {% render 'comp-heading', 
      text: section.settings.heading,
      size: section.settings.heading_size
    %}
    <div class="multicolumn__row">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'column' %}
            <div class="multicolumn__row__column" {{ block.shopify_attributes }}>
              {% if block.settings.image != blank %}
                {% render 'comp-image', 
                  image: block.settings.image,
                  image_width: nil
                %}
              {% else %}
                {{ 'image' | placeholder_svg_tag }}
              {% endif %}
              {% if block.settings.heading %}
                <h3 class="multicolumn__row__column__title">{{ block.settings.heading }}</h3>
              {% endif %}
              {% render 'comp-content', 
                text: block.settings.content
              %}
              {% if block.settings.link_label %}
                <div class="multicolumn__row__column__button">
                  <a href="{{ block.settings.link_url }}" class="button button--black">{{ block.settings.link_label }}</a>
                </div>
              {% endif %}
            </div>
        {% endcase %}
      {% endfor %}
    </div>
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'button' %}
          {% render 'comp-button', 
            label: block.settings.label,
            link: block.settings.link,
            className: "button button--center button--black button--md",
            shopify_attributes: block.shopify_attributes
          %}
      {% endcase %}
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "t:sections.presets.multicolumn.name",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.global.text.heading.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "default": "medium",
        "label": "t:sections.global.size.heading.label",
        "options": [
          {
            "value": "small",
            "label": "t:sections.global.size.small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.global.size.medium.label"
          },
          {
            "value": "large",
            "label": "t:sections.global.size.large.label"
          }
        ]
      },
      {
        "type": "header",
        "content": "t:sections.presets.multicolumn.settings.columns.content"
      },
      {
        "type": "select",
        "id": "column_alignment",
        "default": "center",
        "label": "t:sections.global.alignment.column.label",
        "options": [
          {
            "value": "left",
            "label": "t:sections.global.alignment.left.label"
          },
          {
            "value": "center",
            "label": "t:sections.global.alignment.center.label"
          },
          {
            "value": "right",
            "label": "t:sections.global.alignment.right.label"
          }
        ]
      },
      {
        "type": "range",
        "id": "number_of_columns",
        "min": 1,
        "max": 6,
        "step": 1,
        "default": 3,
        "label": "t:sections.presets.multicolumn.settings.number_of_columns.label"
      },
      {
        "type": "header",
        "content": "t:sections.common.header.settings.mobile.content"
      },
      {
        "type": "checkbox",
        "id": "enable_slider",
        "label": "t:sections.presets.multicolumn.settings.enable_slider.label"
      }
    ],
    "blocks": [
      {
        "type": "column",
        "name": "t:sections.presets.multicolumn.blocks.column.name",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.global.element.image.label"
          },
          {
            "type": "text",
            "id": "heading",
            "default": "Multicolumn",
            "default": "Column",
            "label": "t:sections.global.text.heading.label"
          },
          {
            "type": "richtext",
            "id": "content",
            "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
            "label": "t:sections.global.text.content.label"
          },
          {
            "type": "header",
            "content": "t:sections.presets.multicolumn.blocks.column.settings.link_button.content"
          },
          {
            "type": "text",
            "id": "link_label",
            "default": "Get Deals",
            "label": "t:sections.global.element.button.settings.label.label"
          },
          {
            "type": "url",
            "id": "link_url",
            "label": "t:sections.global.element.button.settings.link.label"
          }
        ]
      },
      {
        "type": "button",
        "name": "t:sections.global.element.button.label",
        "settings": [
          {
            "type": "text",
            "id": "label",
            "default": "Get Deals",
            "label": "t:sections.global.element.button.settings.label.label"
          },
          {
            "type": "url",
            "id": "link",
            "label": "t:sections.global.element.button.settings.link.label"
          },
          {
            "type": "checkbox",
            "id": "fill",
            "label": "t:sections.global.element.button.settings.fill.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.presets.multicolumn.name"
      }
    ]
  }
{% endschema %}