{{ 'section-video.css' | asset_url | stylesheet_tag }}

<script type='module' src="{{ 'video.js' | asset_url }}"></script>

<section class="video">
  <div class="container">
    {% render 'comp-heading', 
      text: section.settings.heading,
      size: section.settings.heading_size
    %}

    <div class="video__wrapper">
      {% if section.settings.cover_image != blank %}
        <button class="video__placeholder show js-video-placeholder" role="button">
          {% if section.settings.cover_image != blank %}
            {% render 'comp-image', 
              image: section.settings.cover_image,
              image_width: nil
            %}
          {% else %}
            {{ 'lifestyle-2' | placeholder_svg_tag }}
          {% endif %}
          <span class="video__placeholder__icon">
            {% render "icon-play" %}
          </span>
        </button>
      {% endif %}
    
      {% if section.settings.url.type == "youtube" %}
        {% assign url = section.settings.url | split: "_" %}
        <iframe width="100%" height="600" src="https://www.youtube.com/embed/_{{ url[1] }}" title="YouTube veo player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen alt="{{ section.settings.alt }}"></iframe>
      {% else %}
        {{ 'lifestyle-2' | placeholder_svg_tag }}
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "t:sections.presets.video.name",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.global.text.heading.label"
      },
      {
        "type": "select",
        "id": "heading_size",
        "default": "medium",
        "label": "t:sections.global.size.heading.label",
        "options": [
          {
            "value": "small",
            "label": "t:sections.global.size.small.label"
          },
          {
            "value": "medium",
            "label": "t:sections.global.size.medium.label"
          },
          {
            "value": "large",
            "label": "t:sections.global.size.large.label"
          }
        ]
      },
      {
        "type": "image_picker",
        "id": "cover_image",
        "label": "t:sections.presets.video.settings.cover_image.label"
      },
      {
        "type": "video_url",
        "id": "url",
        "accept": [
          "youtube",
          "vimeo"
        ],
        "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc",
        "label": "t:sections.presets.video.settings.url.label"
      },
      {
        "type": "text",
        "id": "alt",
        "label": "t:sections.presets.video.settings.alt.label"
      },
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "t:sections.presets.video.settings.full_width.label"
      }
    ],
    "presets": [
      {
        "name": "t:sections.presets.video.name"
      }
    ]
  }
{% endschema %}