<footer class="footer">
  <div class="container">
    <div class="footer__container footer__container--{{ section.blocks.size }}">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'navigation' %}
            {% if block.settings.heading %}
              <div class="footer__item">
                <h4 class="footer__item__title">{{ block.settings.heading }}</h4>
                <p>{{ block.settings.menu }}</p>
              </div>
            {% endif %}
          {% when 'text' %}
            {% if block.settings.heading %}
              <div class="footer__item">
                <h4 class="footer__item__title">{{ block.settings.heading }}</h4>
                {{ block.settings.content }}
              </div>
            {% endif %}
        {% endcase %}
      {% endfor %}
    </div>

    <div class="footer__newsletter">
      {% if section.settings.show_email_signup %}
        {% if section.settings.email_heading %}
          <p class="footer__newsletter__title">{{ section.settings.email_heading }}</p>
        {% endif %}

        <form class="form">
          <div class="form__input">
            <input type="email" placeholder="Email" required>
            <button class="form__button">Send</button>
          </div>
        </form>
      {% endif %}
    </div>
  </div>
</footer>

{% schema %}
  {
    "name": "t:sections.footer.name",
    "settings": [
      {
        "type": "header",
        "content": "t:sections.footer.settings.email_signup.content"
      },
      {
        "type": "checkbox",
        "id": "show_email_signup",
        "default": true,
        "label": "t:sections.footer.settings.email_signup.show_email_signup.label"
      },
      {
        "type": "text",
        "id": "email_heading",
        "default": "Subscribe to our emails",
        "label": "t:sections.global.text.heading.label"
      },
      {
        "type": "header",
        "content": "t:sections.global.socials.content"
      },
      {
        "type": "checkbox",
        "id": "show_socials",
        "default": true,
        "label": "t:sections.global.socials.show_socials.label"
      }
    ],
    "blocks": [
      {
        "type": "navigation",
        "name": "t:sections.global.menu.label",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Quick Links",
            "label": "t:sections.global.text.heading.label"
          },
          {
            "type": "link_list",
            "id": "menu",
            "default": "footer",
            "label": "t:sections.global.menu.label"
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.global.text.name",
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "About Us",
            "label": "t:sections.global.text.heading.label"
          },
          {
            "type": "richtext",
            "id": "content",
            "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
            "label": "t:sections.global.text.content.label"
          }
        ]
      }
    ],
    "default": {
      "blocks": [
        {
          "type": "navigation"
        },
        {
          "type": "text"
        }
      ]
    }
  }
{% endschema %}