{{ 'components-header.css' | asset_url | stylesheet_tag }}
{{ 'components-burger-menu.css' | asset_url | stylesheet_tag }}

<header x-data="{ burgerMenuOpen: false, searchBarOpen: false }" class="header header--{{ section.settings.logo_position }}">
  <div class="container container--visible"> 
    <div class="header__container">

      <!-- Store Logo/Name-->
      <a href="{{ routes.root_url }}" class="header__image">
        {% if section.settings.logo_image != blank %}
          {% render 'comp-image', 
            image: section.settings.logo_image,
            image_width: section.settings.logo_width
          %}
          {% else %}
            <h3>{{ shop.name }}</h3>
        {% endif %}
      </a>

      <!-- Navigation -->
      <nav class="header__nav">  
        {% for link in section.settings.menu.links %}
          {% if link.links != blank %}
            {% assign linkHandle = link.handle | replace: '-', '_' %}
            <div x-data="{ {{ linkHandle }}: false }" @mouseleave="{{ linkHandle }} = false">
              <a href="{{ link.url }}" @mouseover="{{ linkHandle }} = true">
                {{ link.title }}
                {% render "icon-dropdown" %}
              </a>
              {% for childLink in link.links %}
                <ul x-show="{{ linkHandle }}" x-cloak>
                  <li>
                    <a href="{{ childLink.url }}">{{ childLink.title }}</a>
                  </li>
                </ul>
              {% endfor %}
            </div>
          {% else %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endif %}
        {% endfor %}
      </nav>

      <div class="header__actions">
        <button x-on:click="searchBarOpen = true">Search</button>
        <a href="{{ routes.cart_url }}">Cart</a>
      </div>

      <div x-show="searchBarOpen" x-cloak>
        <input type="text">
        <button x-on:click="searchBarOpen = false">X</button>
      </div>

      <div x-on:click="burgerMenuOpen = !burgerMenuOpen" class="burger-menu">
        <div class="burger-menu__line"></div>
        <div class="burger-menu__line"></div>
        <div class="burger-menu__line"></div>
      </div>
    </div>

    <div x-show="burgerMenuOpen" x-cloak>
      {% for link in section.settings.menu.links %}
        {% if link.links != blank %}
          {% assign linkHandle = link.handle | replace: '-', '_' %}
          <div x-data="{ {{ linkHandle }}: false }">
            <button x-on:click="{{ linkHandle }} = !{{ linkHandle }}">
              {{ link.title }}
              {% render "icon-dropdown" %}
            </button>
            {% for childLink in link.links %}
              <ul x-show="{{ linkHandle }}" x-cloak>
                <li>
                  <a href="{{ childLink.url }}">{{ childLink.title }}</a>
                </li>
              </ul>
            {% endfor %}
          </div>
        {% else %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</header>

{% schema %}
{
  "name": "t:sections.common.header.name",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.global.element.menu.label" 
    },
    {
      "type": "header",
      "content": "t:sections.common.header.settings.logo.content"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "t:sections.global.element.image.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 48,
      "max": 240,
      "step": 16,
      "default": 96,
      "unit": "px",
      "label": "t:sections.common.header.settings.logo.width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "default": "middle-left",
      "label": "t:sections.common.header.settings.logo.position.label.desktop",
      "options": [
        {
          "value": "top-left",
          "label": "t:sections.global.position.top_left.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.global.position.top_center.label"
        },
        {
          "value": "middle-left",
          "label": "t:sections.global.position.middle_left.label"
        },
        {
          "value": "middle-center",
          "label": "t:sections.global.position.middle_center.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "logo_position_mobile",
      "default": "center",
      "label": "t:sections.common.header.settings.logo.position.label.mobile",
      "options": [
        {
          "value": "left",
          "label": "t:sections.global.position.left.label"
        },
        {
          "value": "center",
          "label": "t:sections.global.position.center.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.common.header.settings.customization.content"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.common.header.settings.customization.enable_sticky_header.label"
    },
    {
      "type": "header",
      "content": "t:sections.common.header.settings.mobile.content"
    },
    {
      "type": "checkbox",
      "id": "show_socials",
      "default": true,
      "label": "t:sections.global.socials.show_socials.label"
    }
  ]
}
{% endschema %}