<header class="header header--{{ section.settings.logo_position_desktop }}">
  <div class="container">
    <div class="header__container">
      <!-- Store Logo/Name-->
      <div class="header__image">
        {% if section.settings.logo_image %}
          {{ section.settings.logo_image | image_url: width: section.settings.logo_width | image_tag:
            alt: section.settings.logo_image.alt
          }}
        {% else %}
          <h1>{{ shop.name }}</h1>
        {% endif %}
      </div>
    <!-- Navigation -->
      <nav class="header__nav">
        {% for link in section.settings.menu.links %}
          <a href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      </nav>

      <div class="header__actions">
        <div>Search</div>
        <div>Cart</div>
      </div>

      <div class="burger-menu">
        <div class="burger-menu__line"></div>
        <div class="burger-menu__line"></div>
        <div class="burger-menu__line"></div>
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.global.menu.label" 
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.logo.content"
    },
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "t:sections.header.settings.logo.image.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "step": 16,
      "min": 48,
      "max": 240,
      "default": 96,
      "unit": "px",
      "label": "t:sections.header.settings.logo.width.label"
    },
    {
      "type": "select",
      "id": "logo_position_desktop",
      "default": "middle-left",
      "label": "t:sections.header.settings.logo.position.label.desktop",
      "options": [
        {
          "value": "top-left",
          "label": "Top Left"
        },
        {
          "value": "top-center",
          "label": "Top Center"
        },
        {
          "value": "middle-left",
          "label": "Middle Left"
        },
        {
          "value": "middle-center",
          "label": "Middle Center"
        }
      ]
    },
    {
      "type": "select",
      "id": "logo_position_mobile",
      "default": "center",
      "label": "t:sections.header.settings.logo.position.label.mobile",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.customization.content"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.customization.enable_sticky_header.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile.content"
    },
    {
      "type": "checkbox",
      "id": "show_socials",
      "default": true,
      "label": "t:sections.global.socials.show_socials.label"
    }
  ]
}
{% endschema %}